.header {
  padding: ($base-size * 5) 0 ($base-size * 8) 0;
  background: $color-dark;
  color: $color-light;

  &__wrapper {
    position: relative;
  }
}
.main-logo {
  width: 250px;
  position: relative;
  top: 10px;
}

.logo {
  display: inline-block;
  line-height: 1;
}

.main-nav {
  position: absolute;
  @include flex(row, flex-start, flex-start);
  bottom: ($base-size * -8);

  a {
    @extend .h2;
    color: $color-main;
    text-decoration: none;
    margin-right: ($base-size * 2);
    text-align: center;
    padding: $base-size ($base-size * 2);
    background: darken($color-dark, 5%);
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    &.active {
      background: lighten($color-dark, 75%);
    }
  }
}
